*{
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding:2em;
}


h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
}



h3{
    color:blueviolet;
    margin: 1em;
    font-size: .7em;
    text-align: center;
}


main{
    display: inline;
    text-align: center;
    padding: 2em;
}


#flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



h1{
    margin: 1em;
    font-size: 4em;
    color:blueviolet;
    text-align: center;
    align-items: center;
    border-style:solid;
    border-color:blueviolet;
    border-width: .1em;
}

#one{
    background-color:yellowgreen;
    padding: 20px 35px;
    width: .7em;
}

#two{
    background-color:thistle;
    padding: 20px 35px;
    width: .7em;
}

#three{
    background-color:crimson;
    padding: 20px 35px;
    width: .7em;
}



.color #one{
    background-color:yellow;
}

.color #two{
    background-color: aqua;
}

.color #three{
    background-color: aquamarine;
}

.start a{
    display: flex;
    justify-content: center;
    background-color:blueviolet;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: .1em;
    border-radius: .8em;
    margin: 150px;
}

.condensed{
    display:none;
}






@media (min-width: 512px){
    h1{
        margin: 0;
}

    h3{
        font-size: 1.3em;
    }
}